{% extends "base.html.twig" %}

{% block body %}
    <div class="d-flex justify-content-center pt-4">
        <div class="card bg-secondary p-2" style="width: 18rem;">
            <h3>Swap : {{ swap.subject }}</h3>
            <h5 class="pt-3">Sujet principale du cours : </h5>
            <p>{{ swap.description }}</p>
            <h4>Créer par :</h4>
            <div class="d-flex justify-content-center py-2">
                <a href="#">
                    <div class="card bg-primary p-2">
                    {% if avatarAuthor is defined %}
                        <div class="d-flex justify-content-center p-3">
                            <img style="width: 4rem; border-radius: 50%;" src="/uploads/{{ avatarAuthor[0].imageName }}" >
                        </div>
                    {% endif %}
                        {{ author.username }}
                    </div>
                </a>
            </div>
            <h5>Prévue pour le :</h5>
            <h5 class="text-center">{{swap.date|date("m/d/Y H:i") }}</h5>
            <h5>Durée : {{swap.duration|date("H:i")}}
            <h5>Nombre d'inscrit : 9</h5>{# register|count creer une varibale qui recuper les inscrit #}
            <div class="d-flex justify-content-evenly">
                <a href="#" class="btn btn-outline-info">Discussion</a>{# <-- bloquer si non participé #}
               {#} <a href="{{ path('swap_register', { 'id': swap.id }) }}" class="btn btn-info">Participer</a>{# <-- creer une route/methode qui va receptionner une route et modifier dans les register d'une activité #}
            </div>
            <div class="py-3 d-flex justify-content-center">
                <input type="text" label="Lien du meet" placeholder="XXXX-XXXX-XXXX-XXXX">
            </div>
            
        </div>
    </div>
    <div class="d-flex justify-content-center pt-2">
        {% if app.user == author %}
            <a href="{{ path('swap_edit', {'id': swap.id }) }}" class="btn btn-info m-1">Editer votre swap</a>
            <a href="{{ path('swap_delete', {'id': swap.id }) }}" class="btn btn-info m-1">Supprimer ce swap</a>
        {% endif %}
    </div>
{% endblock %}

