{% extends "base.html.twig" %}

{% block body %}
    {% if avatar is defined %}
        <div class="d-flex justify-content-center p-3">
           <img style="width: 10rem; border-radius: 50%;" src="/uploads/{{ avatar[0].imageName }}" >
        </div>
    {% else %}
        <div class="d-flex justify-content-center p-3">
            <a href="{{ path('compte_avatar') }}" class="text-center btn btn-info">Votre avatar ici</a>
        </div>
    {% endif %}

    <h2 class="text-center pt-2">Vos informations</h2>
    <div class="d-flex justify-content-center">
        <div class="card bg-secondary mt-3 mx-2 width-card-compte">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('compte_skill')}}">Vos compétences</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('compte_interest')}}">Vos apprentissages</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <div class="card bg-secondary mt-3 pb-2 mx-2 width-card-compte px-2">
            <form>
                <fieldset disabled>
                    <div class="mb-3">
                        <label for="disabledTextInput" class="form-label">E-mail</label>
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="{{user.email}}">
                    </div>
                    <div class="mb-3">
                        <label for="disabledTextInput" class="form-label">Nom d'utilisateur</label>
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="{{user.username}}">
                    </div>
                    <div class="mb-3">
                        <label for="disabledTextInput" class="form-label">Date de naissance</label>
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="{{user.dateOfBirth|date("m/d/Y")}}">
                    </div>
                </fieldset>
            </form>
            <div class="d-flex justify-content-center">
                <a href="{{ path('compte_edit', {'id': user.id }) }}" class="btn btn-info w-25">Editer</a>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <div class="accordion bg-secondary mt-4 mb-4 mx-2 width-card-compte" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseTwo">
                    Vos swap crées
                </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    {% if swaps is not empty %}
                        {% for swap in swaps %}
                            <div class="accordion-body">
                                <a href="#">{{swap.subject}} {{swap.date}} {{swap.duration}}</a>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="accordion-body">
                            Apprendre aux autres ce que vous savez faire, créer un swap !
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Vos swap rejoints
                </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    {% if swapsJoineds is not empty %}
                        {% for swapJoined in swapsJoineds %}
                            <div class="accordion-body">
                                <a href="#">{{swapJoined.subject}} {{swapJoined.date|date("m/d/Y", "H:i")}} {{swapJoined.duration}}</a>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="accordion-body">
                            Rejoignez donc des swap !
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center pb-4">
        <a href="{{ path('compte_swap') }}" class="btn btn-info">Créer un Swap</a>
    </div>

{% endblock %}