{% extends "base.html.twig" %}

{% block body %}
  <div>
        <div class="d-flex justify-content-center p-4">
            <h1>Ajout de vos intérêts</h1>
        </div>
        <div class="d-flex justify-content-center">
            <div class="card bg-secondary p-2" style="width: 18rem;">
                {{ form_errors(form) }}

                {{ form_start(form) }}
                    {{ form_row(form.interest) }}
                    <div class="d-flex justify-content-center pt-3">
                        <button type="submit" class="btn btn-info">Valider</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <div>
        <div class="d-flex justify-content-center p-4">
            <h1>Vos matieres à apprendre</h1>
        </div>
        <div class="container d-flex justify-content-center">
            <div class="card bg-secondary p-2 m-1" style="width: 18rem;">
                {% for interest in interests %}
                    <div class="row pt-1">
                        <div class="col">{{interest.interest}}</div>
                        <div class="col"><a href="{{ path('interest_delete', {'id': interest.id} )}}" class="btn btn-outline-info">Supprimer</a></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}